<section class="container-fluid ">
  <%= form_for @post, :html => {:class =>"form"} do |f| %>
  <section class="content-box">
    <p>
      <%= f.label :title %><br>
      <%= f.text_field :title %>
    </p>
  </section>
  <section class="content-box">
    <p>
      <%= f.label :content %><br>
      <%= f.text_area :content, :class =>"content-area" %>
    </p>
  </section>
  <section>
    <p>
      <%= f.submit %>
    </p>
  <% end %>
  </section>
</section>
