<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "index" %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag :defaults, "rails.validations" %>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  </head>

  <body class="container-fluid">
    <header class="row banner">

      <section class="col-xs-4 left-top">
        <p>Hey welcome to my<br /> humble blog!</p>
      </section>
      <section class="col-xs-4 middle-top">
          <%= link_to image_tag("http://i.imgur.com/Ghn3XpP.png", :alt => "Ash Profile Photo",
          :class => "img-circle img-responsive profile-image"), posts_path %>
      </section>
      <section class="col-xs-4 right-top">
        <%= link_to 'Create a blog post here', new_post_path, class:"btn btn-default btn-create" %>
      </section>
    </header>

    <%= yield %>
    <%= paginate @posts %>
  </body>
</html>
